@import "./variables.scss";

.footer {
  background: $color-secondary;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-font;
  flex-direction: column;
}
