@import "./variables.scss";

.movie-list,
.series-list {
  margin: 20px 20px;
  h2 {
    color: $color-font-secondary;
    margin-bottom: 10px;
    font-weight: 400;
  }
}

.movie-container {
  margin: 0 15px;
}
