@import "./variables.scss";

.search-bar {
  width: 50%;
  display: flex;
  justify-content: center;
  form {
    display: flex;
    justify-content: center;
    width: 70%;
    input {
      border-radius: 5px;
      font-size: 18px;
      width: 100%;
      padding: 5px 5px 5px 10px;
      height: 38px;
      outline: none;
    }
    button {
      border-radius: 50%;
      padding: 0px 8px;
      margin-left: 5px;
      font-size: 20px;
      cursor: pointer;
      height: 38px;
      color: $color-font;
      background-color: $color-font-secondary;
      border: none;
    }
  }
}
